# WordPress Core
/wp-admin/
/wp-includes/

# Uploads
/wp-content/uploads/

# Cache
/wp-content/cache/

# Ignore all themes
/wp-content/themes/*

# Keep only our custom theme
!/wp-content/themes/custom-theme/

# Ignore all plugins
/wp-content/plugins/akismet/

# Keep only our custom plugin
!/wp-content/plugins/elementor/

# macOS
.DS_Store